@@ -1 +1,217 @@
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 62.5%;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.1rem;
  background-color: #ff7a7a;
  overflow: hidden;
}
.container {
  font-size: 1.6rem;
  background: url(images/bg-intro-desktop.png) #ff7a7a;
  color: #fff;
  min-height: 100vh;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 6.4rem;
}
.container,
.container .content {
  display: -ms-flexbox;
  display: flex;
}
.container .content {
  max-width: 40vw;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2.4rem;
}
.container .content .title {
  font-size: 4.8rem;
}
.container .content .text {
  font-size: 1.6rem;
}
.container .content .form-head {
  background-color: #6055a5;
  margin: 2.4rem auto;
  padding: 1.6rem;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 0.8rem;
}
.container .content .form-head span {
  font-weight: 700;
}
.outer-shadow {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}
.inner-shadow {
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1260px) {
  body,
  html {
    overflow: auto;
  }
  .container {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background: url(images/bg-intro-mobile.png) #ff7a7a;
    gap: 0;
  }
  .container .content {
    min-width: 30rem;
    max-width: none;
  }
  .container .content .title {
    font-size: 3.2rem;
  }
  .container .content--left {
    max-width: 48rem;
  }
}
.attribution {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.8rem;
}
.attribution a {
  color: #6055a5;
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}
.form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2.4rem;
  padding: 4.8rem 1.6rem;
  border-radius: 0.8rem;
  background-color: #fff;
}
.form input {
  height: 4.8rem;
  padding-left: 0.8rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  border: 0.1rem solid #b9b6d3;
}
.form input:focus {
  border: 0.1rem solid #3e3c49;
  outline: none;
}
.form .btn {
  background-color: #38cc8c;
  color: #fff;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.form .btn:hover {
  opacity: 0.9;
}
.form .terms {
  font-size: 1.2rem;
  color: #3e3c49;
  text-align: center;
}
.form .terms span {
  color: #ff7a7a;
  font-weight: 700;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
  background-color: hsl(0deg, 100%, 74%);
  overflow: hidden;
}

.container {
  font-size: 1.6rem;
  background: url("images/bg-intro-desktop.png") hsl(0deg, 100%, 74%);
  color: hsl(0deg, 0%, 100%);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3.2rem;
}
.container .content {
  max-width: 57.2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2.4rem;
}
.container .content .outer-shadow {
  -webkit-box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}
.container .content--left {
  max-width: 40vw;
}
.container .content .title {
  font-size: 4.8rem;
}
.container .content .text {
  font-size: 1.6rem;
}
.container .content .form-head {
  background-color: hsl(248deg, 32%, 49%);
  margin: 2.4rem auto;
  padding: 1.6rem;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 0.8rem;
}

@media (max-width: 1260px) {
  html,
  body {
    overflow: auto;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background: url("images/bg-intro-mobile.png") hsl(0deg, 100%, 74%);
    gap: 0;
  }
  .container .content {
    min-width: 30rem;
    max-width: 56rem;
  }
  .container .content .title {
    font-size: 3.6rem;
  }
  .container--left {
    max-width: 48rem;
  }
}
.attribution {
  text-align: center;
  font-size: 1.2rem;
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 0.8rem;
}
.attribution a {
  color: hsl(248deg, 32%, 49%);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4.8rem 1.6rem;
  border-radius: 0.8rem;
  background-color: hsl(0deg, 0%, 100%);
}
.form input {
  width: 100%;
  margin: 1rem 0;
  height: 4.8rem;
  padding: 0 0.8rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  border: 0.1rem solid hsl(246deg, 25%, 77%);
  background-image: none;
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: center;
}
.form input[type="submit"] {
  background-image: none;
}
.form input:focus:not(.btn) {
  border: 0.1rem solid hsl(249deg, 10%, 26%);
  outline: none;
}
.form .terms {
  font-size: 1.2rem;
  color: hsl(249deg, 10%, 26%);
  text-align: center;
}
.form .terms span {
  color: hsl(0deg, 100%, 74%);
  font-weight: bold;
  cursor: pointer;
}
.form .error {
  font-size: 1rem;
  color: hsl(0deg, 100%, 74%);
  text-align: right;
  font-style: italic;
  margin: -0.8rem 0 0;
}

.btn {
  background-color: hsl(154deg, 59%, 51%);
  color: hsl(0deg, 0%, 100%);
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

.inner-shadow {
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: translateX(0.5%);
    transform: translateX(0.5%);
  }
  40% {
    -webkit-transform: translateX(-0.5%);
    transform: translateX(-0.5%);
  }
  70% {
    -webkit-transform: translateX(0.5%);
    transform: translateX(0.5%);
  }
  100% {
    -webkit-transform: translateX(-0.5%);
    transform: translateX(-0.5%);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: translateX(0.5%);
    transform: translateX(0.5%);
  }
  40% {
    -webkit-transform: translateX(-0.5%);
    transform: translateX(-0.5%);
  }
  70% {
    -webkit-transform: translateX(0.5%);
    transform: translateX(0.5%);
  }
  100% {
    -webkit-transform: translateX(-0.5%);
    transform: translateX(-0.5%);
  }
}
.error-animation {
  -webkit-animation: animation 0.2s;
  animation: animation 0.2s;
  -webkit-box-shadow: 0 0 0.8rem hsl(0deg, 100%, 74%);
  box-shadow: 0 0 0.8rem hsl(0deg, 100%, 74%);
}
